
@import"fonts&variables";
@import "mixins";
@import "reset";


body{
  margin: 0;
}
.nav-menu {
  background-color: $color-white;
  font-size: 24px;
  font-family: 'Source';
  font-weight: 400;
  border-bottom: 4px solid $color-blue;

  

  .nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    @include media-down("m") { 
      font-size: 18px; 
      padding: 10px;
    }

    @include media-down("s") { 
      flex-direction: column; 
      text-align: center;
    }

  }

  .nav-link {
    color: $color-black;
    text-decoration: none;
  }

}

.heroshot {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 0 10%;

  .hero-container {
    display: flex;
    align-items: stretch;
    gap: 120px;

    @include media-down("l") { gap: 40px; } 
    
    @include media-down("m") {
      padding: 20px 0 20px 0;
      flex-direction: column;
      text-align: center;
      
      video { width: 100%; height: auto; } 
    }
  }

  video {
    max-width: 560px;
    height: 350px;
  }


  h1 {
    font-size: 18px;
    font-family: 'Source';
    font-weight: 400;
  }

  h2 {
    font-size: 36px;
    font-family: 'Playfair';
    font-weight: 400;
  }

  p {
    font-size: 24px;
    font-family: 'Source';
    font-weight: 300;

  }

  .btn {
    width: 164px;
    height: 40px;
    background-color: $color-dusty;
    color: $color-white;
    font-family: 'Domine';
    font-weight: 400;
    border: 1px solid $color-dusty;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0px $color-dusty;

    &:hover {
      background-color: $color-white;
      color: $color-blue;
      transition: all 0.2s ease-in-out;
    }

  }

}

.newsletter {
  background: $color-grey;
  text-align: center;
  padding: 60px 0;

  h3 {
    font-size: 36px;
    font-family: 'Playfair';
    font-weight: 400;
  }

  p {
    font-size: 24px;
    font-family: 'Source';
    font-weight: 300;
    padding: 0 160px;

    @include media-down("m") { padding: 0 20px; }
  }

  form {
    margin-top: 20px;

    @include media-down("s") {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column; 
      gap: 15px;

      input { width: 100%; margin-right: 0; }
    }


    input {
      border-color: transparent;
      border-radius: 4px;
      width: 300px;
      height: 40px;
      margin-right: 10px;
      font-family: 'Source';
      font-weight: 400;

      &::placeholder {
        color: $color-blue;
      }

    }

    .btn-primary {
      width: 164px;
      height: 40px;
      background-color: $color-dusty;
      color: $color-white;
      font-family: 'Domine';
      font-weight: 400;
      border: 1px solid $color-dusty;
      border-radius: 4px;
      box-shadow: 2px 2px 4px 0px $color-dusty;

      &:hover {
        background-color: $color-white;
        color: $color-blue;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.programs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

 



  h2 {
    text-align: center;
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 36px;
  }

  p {
    text-align: center;
    font-family: 'Source';
    font-weight: 400;
    font-size: 24px;
  }

  .card {
    align-items: center;
    gap: 10%;
    flex: 0 0 calc(100% / 3);

    img {
      border-radius: 4px;
    }

    h3 {
      text-align: center;
      font-family: 'Source';
      font-weight: 400;
      font-size: 24px;
    }

    p {
      font-family: 'Source';
      font-weight: 300;
      font-size: 18px;
    }

    .secondary-btn {
      margin: 0 auto;
      display: block;
      width: 164px;
      height: 40px;
      background-color: $color-dusty;
      color: $color-white;
      font-family: 'Domine';
      font-weight: 400;
      border-color: #089D93;
      border: 1px solid $color-dusty;
      border-radius: 4px;
      box-shadow: 2px 2px 4px 0px $color-dusty;
      cursor: pointer;

      &:hover {
        background-color: $color-white;
        color: $color-blue;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .swiper {
    overflow: hidden;
    position: relative;
    padding: 0 60px;
    max-width: 1200px;
    transition: 1.5s ease;
    max-width: 1200px;
    margin: 0 auto;
  }

  .swiper-wrapper {
    display: flex !important;
    transition: transform 1.3s ease;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: calc(100% / 3);
    padding: 15px;
    box-sizing: border-box;
   

}
  


  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 35% !important;
    transform: translateY(-50%);
    z-index: 10;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      display: none !important;
      content: "" !important;
    }

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-top: 4px solid #00a699;
      border-right: 4px solid #00a699;
    }
  }


  .swiper-button-prev {
    left: 20px;

    &::before {
      transform: rotate(-135deg);
    }
  }


  .swiper-button-next {
    right: 20px; 

    &::before {
      transform: rotate(45deg);
    }
  }

@include media-down("m") {
  .programs {
    .swiper {
      padding: 0 20px;         
    }

    .swiper-wrapper {
      display: flex !important; 
    }

    .swiper-slide {
      width: 100% !important;   
      max-width: 100%;
      margin: 0 10px;           
    }

    .card {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
    }

   
    .swiper-button-prev,
    .swiper-button-next {
      display: flex !important;
      top: 50%;                 
      transform: translateY(-50%);
      width: 35px;
      height: 35px;
      z-index: 10;
    }

    .swiper-button-prev { left: 5px; } 
    .swiper-button-next { right: 5px; } 
}
}
}
.student {
  border-top: 4px solid $color-blue;
  border-bottom: 4px solid $color-blue;
  width: 100%;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 30px;


  .student-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .student-swiper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0 !important;
      transition: opacity 0.7s ease-in-out;
      background: transparent;

      &.swiper-slide-active {
        opacity: 1 !important;
      }
    }

    .student-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;


      h2 {
        font-family: 'Playfair';
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 30px;

      }

      .student-pic-wrapper {
        width: 150px;
        height: 150px;
        margin: 0 auto 20px auto;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #00a699;
        flex-shrink: 0;
        position: relative;
        z-index: 1;

        .student-pic {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      .comment {
        font-family: 'Source';
        font-weight: 400;
        font-size: 24px;
        line-height: 1.6;
        font-style: italic;
        margin-bottom: 40px;

      }

      .student-name {
        font-family: 'Source';
        font-weight: 400;
        font-size: 24px;
        color: $color-black;
        margin-bottom: 10px;
      }
    }
  }


  .student-prev,
  .student-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    color: #00a699 !important;

  }


}

.partners {
  padding: 60px 0;
  text-align: center;
  overflow: hidden;

  h2 {
    font-size: 36px;
    font-family: 'Playfair';
    font-weight: 400;
  }


  .partner-logos {
    animation: scroll 20s linear infinite;
    display: flex;
    width: max-content; 
    gap: 100px;
    align-items: center;
    margin-top: 50px;
    

    @keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); 
    }
}
  }
  .partner-logos:hover{
    animation-play-state: paused;
}
}

.enroll {
  background-color: $color-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  gap: 100px;

  .enroll-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 36px;
      font-family: 'Playfair';
      font-weight: 400;
      margin-bottom: 10px;
      color: $color-black;
    }

    p {
      font-size: 24px;
      color: $color-black;
      font-family: 'Source';
      font-weight: 300;
      margin-bottom: 30px;
      max-width: 614px;
    }

    .btn {
      width: 164px;
      height: 40px;
      background-color: $color-dusty;
      color: $color-white;
      font-family: 'Domine';
      font-weight: 400;
      border: 1px solid $color-dusty;
      border-radius: 4px;
      box-shadow: 2px 2px 4px 0px $color-dusty;

      &:hover {
        background-color: $color-white;
        color: $color-blue;
        transition: all 0.2s ease-in-out;
      }

    }
  }

  video {
    max-width: 560px;
    height: 350px;
  }


  @include media-down("m") {
  
    flex-direction: column; 
    align-items: center;
    padding: 20px 15px; 

    
    .enroll-box, .enroll-video {
      width: 100% !important; 
      max-width: 100%;

      video {
        width: 100% !important;
        height: auto;           
        border-radius: 10px;
        display: block;
      }
    }

}
}

.footer {
  padding: 60px 90px 20px;

  .footer-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $color-black ;
  }

  .social-icons {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .footer-contact {
    font-family: 'Source';
    font-weight: 400;
    font-size: 18px;
  }

  h3 {
    font-family: 'Playfair';
    font-size: 24px;
    font-weight: 400;
  }


.footer-bottom {
  display: flex;
  text-align: left;
  font-size: 14px;
  border-color: $color-black;
  margin-top: 20px;
  color: $color-black;
  font-family: 'Source';
  font-weight: 400;
  font-size: 14px;

}
@include media-down("m") {
  
    padding: 40px 20px;
    .footer-container {
      flex-direction: column; 
      gap: 30px;
      text-align: center;
    }
    .social-icons { 
       justify-content: center;
       margin-top: 40px; }

       .footer-bottom{
        justify-content: space-around;
       }

     
}

}

.full-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999999;
  overflow-y: auto;

  &.active {
    display: block;
  }


  h6 {
    font-family: 'Source';
    font-weight: 400;
    font-size: 18px;
  }

  h1 {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 36px;
  }

  p {
    font-family: 'Source';
    font-weight: 300;
    font-size: 18px;
  }

  .popup-container {
    background: $color-cream;
    max-width: 1300px;
    margin: 40px auto;

    position: relative;
    border-radius: 4px;
    color: $color-black;

    .close-x {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 35px;
      border: none;
      background: none;
      cursor: pointer;
    }
  }


  .pop-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
    padding: 60px 60px 20px;
    gap: 30px;
    margin-bottom: 50px;

    .pop-text {
    flex: 1;
    display: flex;             
    flex-direction: column;    
    justify-content: space-between; 
    padding: 10px 0;

      h1 {
        font-size: 32px;
        margin: 10px 0;
      }
    }

    .pop-img {
      flex: 1;

      img {
        width: 100%;
        border-radius: 4px;
        opacity: 80%;
      }
    }
  }

  .pop-section {
    background-color: $color-grey;
    align-items: center;
    text-align: center;
    padding: 40px 100px;


    h3 {
      margin-top: 40px;
      font-family: 'Playfair';
      font-weight: 400;
      font-size: 24px;
    }

    p {
      font-family: 'Source';
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 40px;
    }
  }

  .btn-main {
    width: 164px;
    height: 40px;
    background-color: $color-dusty;
    color: $color-white;
    font-family: 'Domine';
    font-weight: 400;
    border: 1px solid $color-dusty;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0px $color-dusty;

    &:hover {
      background-color: $color-white;
      color: $color-blue;
      transition: all 0.2s ease-in-out;
    }
  }

  .long-btn {
    width: 194px !important;
  }

  .pop-info {
    background: $color-cream;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 20px;
    padding: 30px 50px;
    align-items: stretch;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      padding: 30px 20px;

      h3 {
        font-family: 'Playfair';
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 20px;
      }

      p {
        font-family: 'Source';
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 30px;
        color: $color-black;
        max-width: 70%;
      }
    }

    .info-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px 35px;
      margin-top: 20px;
    }

    h4 {
      font-family: 'Source';
      font-weight: 400;
      font-size: 18px;
      margin: 0;
    }

    p {
      font-family: 'Source';
      font-weight: 300;
      font-size: 18px;
      color: $color-black;
      margin: 0;
    }

    .info-card {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .icon-wrapper {
        position: relative;
        width: 32px;
        height: 32px;
        margin-bottom: 8px;

        .icon-elipse {
          position: absolute;
          top: 0;
          left: 0;
          width: 32px;
          height: 32px;
          z-index: 1;
        }

        .btn-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 20px;
          z-index: 2;
          filter: brightness(0) invert(1);
        }

        .btn-main {
          font-family: 'Domine';
          font-weight: 400;
          font-size: 14px;

          &:hover {
            background-color: $color-white;
            color: $color-blue;
            transition: all 0.2s ease-in-out;
          }
        }
      }


    }

  }

  .info {
    text-align: center;
    padding: 60px 40px;
    background: $color-grey;
    margin: 0 auto;

    .pricing-btn {
      width: 100px;
      height: 40px;
      background-color: #62A1A454;
      color: $color-blue;
      border: transparent;
     text-align: center;
      border-radius: 4px;
      font-family: 'Playfair';
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
    }

    h3 {
      font-family: 'Playfair';
      font-weight: 400;
      font-size: 32px;
      color: $color-black;
      margin-bottom: 10px;
    }

    p {
      font-family: 'Source';
      font-weight: 300;
      font-size: 18px;
      color: $color-black;
    }

    .subtitle {
      color: $color-black;
      margin-bottom: 40px;
    }

    .pop-pricing {
      display: flex;
      gap: 20px;
      margin-bottom: 50px;
      align-items: stretch;
      padding: 0 100px;

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        font-family: 'Source';
        font-weight: 300;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 12px;

      }
    }
  }

  .enroll-box {
    background: #fdfdfd;
    border: 1px solid #eee;
    padding: 30px;
    flex: 1;
    border-radius: 12px;
    text-align: left;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);


    h2 {
      font-family: 'Playfair';
      font-weight: 700;
      font-size: 14px;
      color: $color-blue;
    }

    p {
      font-family: 'Source';
      font-weight: 300;
      font-size: 14px;
      color: $color-black;
    }

    li {
      font-family: 'Source';
      font-weight: 400;
      font-size: 14px;
      color: $color-blue;

    }

    .btn-enroll {
      font-family: 'Domine';
      font-weight: 400;
      font-size: 14px;
      width: 100%;
      margin-top: 20px;
      background: $color-dusty;
      color: $color-white;
      padding: 12px;
      border: 1px solid $color-dusty;
      border-radius: 4px;
      box-shadow: 2px 2px 4px 0px $color-dusty;

      &:hover {
        background-color: $color-white;
        color: $color-blue;
        transition: all 0.2s ease-in-out;
      }
    }

    .list-icon {
      filter: invert(44%) sepia(91%) saturate(1348%) hue-rotate(141deg) brightness(91%) contrast(96%);
    }
  }

  .price-box {
    background: #589b9b;
    color: white;
    padding: 30px;
    flex: 2;
    border-radius: 12px;
    text-align: left;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);


    h2 {
      font-family: 'Playfair';
      font-weight: 400;
      font-size: 18px;
    }

    p {
      font-family: 'Source';
      font-weight: 300;
      font-size: 14px;
      color: $color-white;
      max-width: 224px;
      margin: 20px 0 60px 0;
    }


    .price-container {
      display: flex;
      align-items: stretch;
      height: 100%;
      padding: 0 50px;
    }

    .vertical-divider {
      width: 1px;
      height: 200px;
      background: rgba(255, 255, 255, 0.3);
      margin: 0 30px;
    }

    .price-value {
      font-family: 'Source';
      font-weight: 600;
      font-size: 36px;
      font-weight: bold;
      margin-top: 15px;
    }

    .features-details {
      text-align: left;
    }
  }

  .consultation-text {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    margin-bottom: 25px;
  }


  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;

    a {
      font-size: 14px;
      width: 164px;
      height: 40px;
      text-decoration: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: $color-dusty;
      color: $color-white;
      font-family: 'Domine';
      font-weight: 400;
      border: 1px solid $color-dusty;
      border-radius: 4px;
      box-shadow: 2px 2px 4px 0px $color-dusty;
      cursor: pointer;


    }

    .btn-long {
      width: 199px !important;
    }


  }


}


.programs-hero {
  position: relative;
  min-height: 50vh;
  background: url("../img/programs-hero.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;

  @include media-down("m") {
    min-height: 40vh; 
    padding: 0 20px;
  }

  .programs-hero__overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
  }

  .programs-hero__content {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .programs-hero__title {
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 36px;
    color: $color-black;
    margin: 12px 0;

    @include media-down("m") {
       font-size: 28px; }
       padding: 0;
       text-align: center;
  }
  }


  .programs-hero__text {
    font-family: 'Source';
    font-weight: 300;
    font-size: 24px;
    color: $color-black;
    line-height: 1.6;

    @include media-down("m") { font-size: 18px; }
  }
  

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;

    @include media-down("s") {
      flex-direction: column; 
      gap: 15px;
      .btn-main, .btn-long { width: 100%; } 
    }

    .btn-main {
      width: 164px;
      height: 40px;
      font-family: 'Domine';
      font-weight: 400;
      font-size: 14px;
      background-color: $color-dusty;
      color: $color-white;
      border: transparent;
      border-radius: 4px;
      box-shadow: 2px 2px 4px 0px rgba(98, 161, 164, 0.6);

      &:hover {
        background-color: $color-white;
        color: $color-blue;
        transition: all 0.2s ease-in-out;
        border: 1px solid rgba(8, 157, 147, 1);
        border-radius: 4px;
        box-shadow: 2px 2px 4px 0px rgba(115, 115, 115, 0.6);
      }
    }

    .btn-long {
      width: 164px;
      height: 40px;
      font-family: 'Domine';
      font-weight: 400;
      font-size: 14px;
      background-color: $color-white;
      color: $color-dusty;
      border: 1px solid rgba(8, 157, 147, 1);
      border-radius: 4px;
      box-shadow: 2px 2px 4px 0px rgba(115, 115, 115, 0.6);

      &:hover {
        background-color: $color-dusty;
        color: $color-white;
        transition: all 0.2s ease-in-out;
        border: 1px solid $color-dusty;
      }

    }
  }





.programs-card {
  background: $color-white;
  margin-top: 10px;
  padding-top: 10px;
  justify-content: center;
  text-align: center;

@include media-down("l") {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  @include media-down("m") {
    grid-template-columns: 1fr;
  }
    h1{
    text-align: center;
    padding: 0;
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    }
  }
    


.programs-section {
  padding: 65px 20px;
  justify-items: center;
  gap: 30px;
}

.programs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 120px;

  @include media-down("l") {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  @include media-down("m") {
    grid-template-columns: 1fr; 
    padding: 0 20px;
  }
}

.program-card {
  width: 100%;
  max-width: 333px;
  min-height: 333px;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);


  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-content {
    padding: 20px;
    background-color: #D9D9D94D;

    h3 {
      font-family: 'Source';
      font-weight: 600;
      color: #1ba6a6;
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      font-family: 'Source';
      font-weight: 200;
      font-size: 15px;
      color: #555;
      margin-bottom: 15px;
    }

    .read-more {
      font-family: 'Source';
      font-weight: 400;
      font-size: 14px;
      color: #333;
      text-decoration: none;

      &:hover {
        color: #1ba6a6;
      }
    }
  }
}

.testimonials {
  background-color: $color-dusty;
  padding: 20px 70px;
  color: $color-white;
  align-items: center;


  .testimonials-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    min-height: 500px;

    @include media-down("m") {
      grid-template-columns: 1fr;
      text-align: center;
      min-height: auto;
    }
  }

  .section-heading {
    flex: 1;
    max-width: 550px;
    text-align: left;

    @include media-down("m") {
      text-align: center; 
      max-width: 100%;
      margin-bottom: 40px;
      
      h2 { margin: 0 auto 20px; } 
      p { margin: 20px 0; font-size: 18px; } 
    }

    h2 {
      font-family: 'Playfair';
      font-weight: 400;
      font-size: 36px;
      line-height: 1.2;
      max-width: 300px;
      margin-bottom: 30px;

    }

    p {
      font-family: 'Source';
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 30px;
      margin: 60px 0;
    }
  }

  .testimonials-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;

    .testimonial-card {
      width: 498px;
      height: 116px;
      background: white;
      color: #333;
      padding: 20px;
      display: flex;
      align-items: center;
      text-align: left;
      border-radius: 4px;
      gap: 20px;
      width: 450px;
      box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);

      @include media-down("m") {
        width: 100%; 
        max-width: 450px; 
        height: auto; 
        align-self: center !important; 
      }

      .card-image img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
      }

      h4 {
        font-family: 'Source';
        font-weight: 400;
        margin: 0;
        color: #737373;
        font-size: 14px;
      }

      p {
        font-family: 'Source';
        font-weight: 400;
        font-style: italic;
        margin: 5px 0 0;
        font-size: 14px;
        line-height: 1.4;
      }


      &:nth-child(1) {
        color: #737373;
        align-self: flex-end;
        @include media-down("m") { align-self: center !important; }
      }

      &:nth-child(2) {
        color: $color-black;
        align-self: center;

        h4 {
          color: $color-black !important;
        }
      }

      &:nth-child(3) {
        color: #737373;
        align-self: flex-end;
        @include media-down("m") { align-self: center !important; }
      }
    }
  }
  

.btn-view {
  width: 164px;
  height: 40px;
  font-family: 'Playfair';
  font-weight: 400;
  font-size: 14px;
  background: $color-white;
  color: $color-blue;
  border-radius: 5px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $color-dusty;
    color: $color-white;
    transition: all 0.2s ease-in-out;
    border: 1px solid $color-white;
  } 
}
}
